.container-custom {
    background: orange;
    margin-top: 5vh;
    border: 3px solid black;
    width: 100%;
}

.display-screen {
    background: lightgrey;
    height: 15vh;
    padding: 5% !important;
    font-size: 4rem;
    text-align: right;
    overflow: auto;
}

.punch-keys-sect {
    height: 67%;
}

.key {
    margin: 0;
    height: 20%;
    background: white;
    color: black;
    padding: 5%;
    font-size: 2rem;
    text-align: center;
    cursor: pointer;
    opacity: 0.9;
}

.keys:hover {
    opacity: 1;
}

.equal {
    color: white;
    background-color: orange;
    height: 15px;
}

.decimal {
    color: skyblue;
    background-color: black; 
}