.container {
    max-width: 1440px;
    width: 35%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    background: darkslategray;
    filter: brightness(154%);
}

.msg-class {
    font-size: 2rem;
}

.bigfont {
    font-size: 4rem;
}

.display-screen {
    background:grey;
    filter: brightness(127%);
    color: black;
    height: 10rem;
    padding: 5%;
    text-align: right;
    font-family: Courier, monospace;
    overflow: auto;
    border: 1px solid;
    border-radius: 5px;
}

.punch-keys-sect {
    width: 100%;
    background-color: black;
    filter: contrast(127%);
    height: 23rem;
    padding-top: 20px;
    border: 1px solid;
    border-radius: 5px;
}

.table-of-data {
    width: 100%;
    padding-bottom: 30px;
}

.rows-data {
    padding: 30px;
}

.key {
    padding: 2%;
    font-size: 2rem;
    text-align: center;
    cursor: pointer;
    opacity: 0.9;
}

/* .key:hover {
    opacity: 1;
} */

.numkey {
    color: skyblue;
}


.power{
    background-color: #Ff6f61ff;
}

.ackey {
    color: red;
}

.opkey {
    color: white;
}

.equalkey {
    color: white;
    background-color: orangered; 
}

.equal {
    color: white;
    background-color: orange;
    height: 15px;
}

.decimal {
    color: skyblue;
}